@charset "utf-8";

::-webkit-scrollbar {
	display: none;
}

@font-face {
	font-family: WebFont;
	src: url(../font/WebFont.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: WebFont;
	font-size: 100%;
	background-color: #F0F0F0;
	color: #343434;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #6B6B6B;
	background-color: transparent;
}

a:hover {
	text-decoration: none;
	background-color: rgba(73, 73, 73, 0.1);
	border-radius: 0.2rem;
}

#index{
	position: absolute;
	height: 100%;
	width: 100%;
	background: url("../img/about_us.png") no-repeat;
	background-size:cover;
	z-index: -2;
	overflow: hidden;
}
.index_title {
	float: left;
	text-align: center;
	margin-top: 1rem;
	margin-left: -1.7rem;
	font-weight: bold;
	background-color: #ffffff59;
	border-radius: 0px 15px 15px 0px;
	padding-left: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
	color: #353535;
	font-size: 2rem;
}
.panel_pic_large {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	min-width: 5rem;
	min-height: 5rem;
	box-shadow: 0px 0px 1px 1px #BDBDBD;
	border-color: #FFFFFF;
	z-index: 1;
}
#button_area {
	position: fixed;
	right: 10%;
	top: 3rem;
	height: 100%;
	z-index: 1;
}
#index_holder {
	position: fixed;
	left: 7.5rem;
	top: 3rem;
	height: auto;
	width: 5rem;
	z-index: 1;
}
#index_content {
	position: absolute;
	top: 0;
	left: 10rem;
	background:inherit;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 0px 2px #BDBDBD;
	z-index: 1;
	margin-bottom: 0.7rem;
	overflow: hidden;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
#index_content::after{
	content: "";
	position: absolute;
	left:-1.6rem;
	top:-1.6rem;
	width: 110%;
	height: 110%;
	background: inherit;
	-webkit-filter: blur(15px) brightness(110%);
	filter: blur(15px) brightness(110%);
	z-index: -1;
	overflow: hidden;
}
#index_announce {
	position: absolute;
	top: 10rem;
	left: 7.5rem;
	right: 10%;
	background-color:transparent;
	width:67.5%;
	height: 70%;
	box-shadow: 0px 0px 1px 1px #ececec54;
	border-radius: 10px 10px 10px 10px;
	z-index: 3;
	margin-bottom: 0.7rem;
	overflow: hidden;
	background-color: #ffffff63;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	transition: 0.4s;
}.login_href_index {
	margin: 0.5rem;
	padding: 0.4rem;
	color: rgb(51, 51, 51);
	background-color: #ffffff59;
	width: 90%;
	/* box-shadow: 0px 0px 1px 1px #BDBDBD; */
	border-radius: 8.0px;
	outline:none
}
.login_href_index:hover {
	background-color: #A2C5FF;
	color: #474747;
	border-radius: 8.0px;
	outline:none
}
.register_href_index {
	margin: 0.5rem;
	padding: 0.4rem;
	color: rgb(51, 51, 51);
	background-color: #ffffff59;
	width: 90%;
	/* box-shadow: 0px 0px 1px 1px #BDBDBD; */
	border-radius: 8.0px;
	outline:none
}
.register_href_index:hover {
	background-color: darkorange;
	color: #474747;
	border-radius: 8.0px;
	outline:none
}
.content{
	position: absolute;
	top: 10rem;
	left: 7.5rem;
	right: 10%;
	background-color:transparent;
	width:67.5%;
	height: 70%;
	box-shadow: 0px 0px 1px 1px #ececec54;
	border-radius: 10px 10px 10px 10px;
	z-index: 3;
	margin-bottom: 0.7rem;
	overflow: hidden;
	background-color: #ffffff63;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	transition: 0.4s;
}
.friend_content{
	position: absolute;
	top: 10rem;
	left: 7.5rem;
	right: 10%;
	background-color:transparent;
	width:67.5%;
	height: 70%;
	box-shadow: 0px 0px 1px 1px #ececec54;
	border-radius: 10px 10px 10px 10px;
	z-index: 3;
	margin-bottom: 0.7rem;
	overflow: hidden;
	background-color: #ffffff63;
	padding-left: 0rem;
	padding-right: 0rem;
	padding-top: 0rem;
	padding-bottom: 0rem;
	transition: 0.4s;
}
#about_us{
	position: absolute;
	height: 100%;
	width: 100%;
	background: url("../img/about_us.png") no-repeat;
	background-size:cover;
	z-index: -2;
	overflow: hidden;
}


#left_holder {
	position: absolute;
	left: 2rem;
	top: 9rem;
	height: auto;
	background: inherit;
	width: 7rem;
	z-index: 1;
	border-radius: 10px 10px 10px 10px;
}


#right_content {
	position: absolute;
	top: 0;
	left: 15rem;
	background:inherit;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 0px 2px #BDBDBD;
	z-index: -1;
	margin-bottom: 0.7rem;
	overflow: hidden;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#right_content::after{
	content: "";
	position: absolute;
	left:-1.6rem;
	top:-1.6rem;
	width: 110%;
	height: 110%;
	background: inherit;
	-webkit-filter: blur(15px) brightness(110%);
	filter: blur(15px) brightness(110%);
	z-index: -1;
	overflow: hidden;
}

#tips {
	align-content: center;
	margin-top: 0rem;
	margin-left: 0rem;
	width: 100%;
	height: 100%;
	align-self: center;
	overflow: scroll;
}

#tips_pic {
	width: 7.0rem;
	height: 7.0rem;
	margin: 1.0rem;
	float: left;
}

#tips_text {
	float: left;
	text-align: center;
	margin-top: 3.7rem;
	color: #6F6F6F;
	font-size: 1.5rem;
}

.imgwidth {
	width: 100%;
	height: auto;

}

div.context-inline {
	display: inline-block;
}

.newspic {
	width: 30rm;
	height: auto;
}

.aboutcontext {

	width: 60%;
	height: auto;
	text-align: center;
	border: 2px solid #a1a1a1;
	padding: 10px 40px;
	background: #dddddd;
	border-radius: 25px;

}

.ad01 {
	width: 100%;
	height: auto;
	padding: 0.3rem;
	margin-top: 1rem;
	background-color: red;
}

.marquee01 {
	color: yellow;
	font-weight: 900;
	font-size: 1.5rem;
}

.bottomleft {
	position: absolute;
	bottom: 28px;
	left: 20px;
	font-size: 23px;
	background-color: grey;
	color: white;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.indexh2 {
	padding: 0 0 0 30px;
	background: url('https://www.qhu.edu.cn/images/20161123/shipin.png') no-repeat left center;
	color: #1d2087;
	font-size: 20px;
	font-weight: bolder;
	text-align: left;
	margin: 1rem;
}

.exper_rt_pic {
	width: 6rem;
	height: 6rem;
	margin: 0.3rem;
}

.articleImageListulW {
	border-style: solid;
	border-width: 1px;
}

.articleTitle {
	font-size: larger;
}